body{
    text-align: center;
font-size: larger;
}

#intro{
    text-align: center;
    font-size: x-large;
    padding-top: 250px;
background-image: url(../images/h_img.jpg);
height: 600px;
color: aliceblue;
}

#about{
    margin: 15px;
    text-align: center;
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}

#services{
    padding-top: 85px;
    margin: 15px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
    background-image: url(../images/s_image.jpg);
    height: 400px;

}

#icon>h3{
    padding-top: 30px;
}

#icon{

    height: 300px;
    width: 400px;
    padding-top: 100px;

}

#whatwedo{
    text-align: center;
    display: flex;
    margin: 15px;
    padding-left: 130px;

}


#contact{
    margin: 50px;
    text-align: center;
background-image: url(../images/c_image.jpg);
}

#portfolio{
 
 margin-left: 100px;   

}



#work{
    width: 300px;
    height: 300px;
    padding-top: 30px;
    padding-left: 20px;
}


#contact{
    padding-top: 50px;
    padding-bottom: 50px;
    size: 100%;
    color: aliceblue;
    height: 500px;
}


.contact{
    font-size: larger;
    font-weight: bold;
    opacity: 0.2;
}


#mouseclick{

padding-top: 150px;

}


#socials{
    margin: 15px;
text-align: center;
padding-top: 50px;
}

#png{
    margin-left: 30px;
}

#footer{
    text-align: center;
    margin: 15px;
    font-style: italic;
    font-size: medium;
    font-weight: lighter;
    padding-top: 30px;
}